.root {
    -fx-background-image: url("../images/aura.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #1D428A;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font: 14px "Segoe UI";
    -fx-padding: 8;
}

.button {
    -fx-background-color: #1D428A;
    -fx-text-fill: #FFC72C;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #FFC72C;
    -fx-text-fill: #1D428A;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: rgb(237, 255, 242);
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

/* Styling for error messages specifically */
.error-label {
    -fx-background-color: #d32f2f; /* Deep NBA Red */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: #000000;
    -fx-border-width: 1;
}
